body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {

    /* Colours */

    --gray: #1D3557;
    --blue: #457B9D;
    --green: #F1FAEE;
    --white: #ffffff;

    /* Font Sizes */

    --step-1: 2rem;
    --step-2: 1.875rem;
    --step-3: 1.5rem;
    --step-4: 1.25rem;
    --step-5: 1.125rem;
    --step-6: 1rem;
    --step-base: 1rem;
    --step-sm: 0.875rem;
    --step-xs: .075rem;
    --step-tny: 0.635;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-xxl: 24px;

    /* Border Radii
    --border-rad-2:
    --border-rad-10: 10%;
    --border-rad-20: 20%;
    --border-rad-30: 30%;
    --border-rad-50: 50%;
    */

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-image: url("images/torshov-image.webp");
    background-size: cover;
    background-position: center;
}

#header-title {
    color: var(--white);
    background-color: var(--gray);
    padding: var(--space-xs) var(--space-sm);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 225px;
}

#header-subtitle {
    color: var(--white);
    background-color: var(--blue);
    padding: var(--space-sm) var(--space-md);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 412px;
}

.flex-container {
    display: flex;
}

.flex-item {
    
}

.flex-center {
    justify-content: center;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.green-bg {
    background-color: var(--green);
}

.text-center {
    text-align: center;
}